@charset "ISO-8859-1";

.card .card-image:hover{
	background: rgba(0,0,0,0.02);
}

//media query
@media only screen and (min-width: 993px){
	.container{
		width:80% !important;
	}
}
	@media only screen and (min-width: 601px){
  .container{
    width: 90% !important;
}
	}
	
	@media only screen and (min-width: 550px){
	.container{
		width:100% !important;
	}
	}