@charset "ISO-8859-1";
 body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }

    body {
      background: #fff;
     
    }

    .input-field input[type=date]:focus + label,
    .input-field input[type=text]:focus + label,
    .input-field input[type=email]:focus + label,
    .input-field input[type=password]:focus + label {
      color: #e91e63;
    }

    .input-field input[type=date]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
      border-bottom: 2px solid #e91e63;
      box-shadow: none;
    }
    .modal{
    width:390px;
    max-height: 92% !important;
    }
   .modal .modal-content{
     padding:0px;	
    
    }
    img.responsive-img{
    height:90px ;
    width:100px !important;
    }
   
   
   div.container{
   width: width:100px !important;
   }
   .imgal{
   text-align: center;
   }
   #imgal2{
   width:200px !important;
   }
   
   .login-btn{
   	background: rgb(2,18,44);
background: linear-gradient(141deg, rgba(2,18,44,1) 16%, rgba(49,172,168,1) 100%);
    border-radius: 35px;   
   }
   [type="checkbox"]:not(:checked),[type="checkbox"]:checked{
   position:inherit;
   opacity:1;
  
   }
   form p {
   
    margin:15px 0px 0px 0px;
    }
   #to2{
   padding-left: 15px;
   }
   .row{
   margin-bottom:15px;
   }
   #modal1{
   top:7% !important;
   }
   #modal2{
   top:7% !important;
   }
      .field-icon {
  float: right;
  margin-left: -25px;
  margin-top: px;
  position: relative;
  z-index: 2;
} 
.toggle-password{
  color: #bdbdbd ;
}
.toggle-password:active{
  color: blue;
}
.sidenav : active{
  transform: translateX(0);
}
.sidenav{
  background-color: #02122c;
    color: #fff;
    
    width: 30%;
    min-width: 220px;
    max-width: 260px;
    height: 100%;

}
.sidenav #uli {
  line-height: 1.75;      
    /*padding: 30px ;*/
    margin-top: 10%;
    
    
   
}
.grey-text{text-align: center;}
.grey-text > p{
  text-align: center;
  font-size: 10px;
  letter-spacing: 2px;
  word-spacing: 2px;
}
.sidenav ul li a {
    /*padding: 0 0 30px;*/
    font-size: 18px;
    line-height: 1.75;
}
#sideFooter{
  margin-bottom: 14px;
  line-height: 1.75;  
   text-align: center;
        position: fixed;
    bottom: 0;
       width: 100%;
         
    }
    #sideFooter p{
  text-align: center;
    letter-spacing: 4px;
    font-size: 0.8rem;
    word-spacing: 2px;
      
    }
#acc-drop1{
  display: flex;
  
   width:70% !important;
}
a:hover{
  cursor: pointer;
}
.sidenav footer a{
  margin:0 8px;
}

.navy-color{color: #02122c;}
  #modal3{
   top:6% !important;
   }
   #modal3 input{
   margin-bottom:0px;
   }
   #modal3 form p {
    margin: 0px 0px 0px 0px;
}
#modal3 .row{
     margin-bottom: 7px;
}